@font-face {
  font-family: "";
  src: url("../fonts/.eot");
  src: url("../fonts/.eot?#iefix") format("embedded-opentype"),
    url("../fonts/.ttf") format("truetype"),
    url("../fonts/.woff") format("woff"), url("../fonts/.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
