body, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

input,
button,
textarea {
	margin: 0;
	border-radius: 0;
	appearance: none;
	outline: none;
}

figure {
	margin: 0;
}
