// BREAKPOINTS
$mobile-portrait: 320px;
$mobile-small: 375px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1280px;
$desktop: 1440px;
$desktop-extra: 1600px;
// FONT SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1920;
// COLOR
$color-primary: #ff9900;
$color-additional: #ff7549;
$color-background: #fff;
$color-heading: #000;
$color-text: #000;
$color-link: #1943ef;
$color-hovered: #bcd0e5;

$color-text-primary: #fff;

$color-bg-primary: #242424;

$color-white: #fff;
$color-black: #000;
